# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing & Coverage
/coverage
.nyc_output

# Next.js build output
/.next/
/out/

# Production build artifacts
/build
/dist

# Security & Secrets: Environment variable files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel & Inngest
.vercel
.inngest

# TypeScript compiler cache
*.tsbuildinfo
next-env.d.ts

# Operating System files
.DS_Store
*.pem
Thumbs.db
